nodered-examples/nodered-smartcitizen-battrigger.json
[{"id":"f380e31.5e9ca2","type":"function","z":"6c1944c7.93e6bc","name":"Is Low Battery?","func":"var smartcitizen = msg.payload;\n\nvar battery = smartcitizen.data.sensors.filter(function(sensor){\n    return sensor.name === \"Battery\";\n})[0];\n\nvar notfify = {};\n\nif (battery.value < 25 && battery.value < battery.prev_value) {\n\tnotfify.payload = \"Hey, I have less than \" + battery.value + \" %! \"  + smartcitizen.name + \" needs to be charged! #makingsense\";\n    notify.topic = \"Please charge me!\"; \n    \n}\n\nreturn notfify;\n","outputs":1,"noerr":0,"x":330,"y":202,"wires":[["d40cced9.bde4f"]]},{"id":"1b5e1cd.2534ee3","type":"http request","z":"6c1944c7.93e6bc","name":"Gets Smart Citizen 3292","method":"GET","ret":"obj","url":"https://api.smartcitizen.me/v0/devices/212","x":210,"y":139,"wires":[["f380e31.5e9ca2"]]},{"id":"d40cced9.bde4f","type":"switch","z":"6c1944c7.93e6bc","name":"Trigger alert?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":469,"y":137,"wires":[["502ddce5.fb6a14","e4ed2471.2e7928"]]},{"id":"56ea8331.0c466c","type":"inject","z":"6c1944c7.93e6bc","name":"Trigger every 30min","topic":"SmartCitizen","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":141.5,"y":74,"wires":[["1b5e1cd.2534ee3"]]},{"id":"502ddce5.fb6a14","type":"twitter out","z":"6c1944c7.93e6bc","twitter":"","name":"Tweet","x":589,"y":215,"wires":[]},{"id":"e4ed2471.2e7928","type":"e-mail","z":"6c1944c7.93e6bc","server":"smtp.gmail.com","port":"465","name":"","dname":"","x":593,"y":278,"wires":[]}]